<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AdvancedCollectionView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4D7EF4FA1E18DD510046ECAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D7EF50B1E18DD520046ECAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D7EF5161E18DD520046ECAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
